.table-wrapper {
    height: 20rem;
    overflow: auto;
}

.table-wrapper table thead {
    position: sticky;
    top: 0;
    left: 0;
}

.table-wrapper table thead th{
    background-color: #ececec;
    border-bottom: 2px solid #ddd;
}

