<div class="d-flex justify-content-center align-items-center">
  <div class="card" style="max-width: 500px">
    <div class="card-header d-flex justify-content-center align-items-center">
      <h5 class="mb-0">
        <i class="fa-solid fa-key me-2"></i>Cambio de contraseña
      </h5>
    </div>
    <div class="card-body p-5 ps-5">
      <form #f="ngForm">
        <div class="mb-3 row justify-content-center">
          <label class="mi-label col-form-label col-10">Usuario:</label>
          <div class="col-sm-10 d-flex justify-content-center">
            <input
              #usuario="ngModel"
              [ngClass]="
                usuario.invalid && (usuario.dirty || usuario.touched)
                  ? 'is-invalid'
                  : ''
              "
              type="text"
              name="usuario"
              placeholder="Correo"
              class="form-control"
              required
              [(ngModel)]="newPasswordDTO.correo"
            />
          </div>
        </div>

        <div class="mb-3 row justify-content-center">
          <label class="mi-label col-form-label col-10">Contraseña:</label>
          <div class="col-sm-10 d-flex justify-content-center">
            <input
              #newPassword="ngModel"
              [ngClass]="
                newPassword.invalid && (newPassword.dirty || newPassword.touched)
                  ? 'is-invalid'
                  : ''
              "
              type="password"
              name="newPassword"
              placeholder="Nueva contraseña"
              class="form-control"
              required
              [(ngModel)]="newPasswordDTO.newPassword"
            />
          </div>
        </div>

        <div class="mb-5 row justify-content-center">
          <label class="mi-label col-form-label col-10"
            >Repetir contraseña:</label
          >
          <div class="col-sm-10 d-flex justify-content-center">
            <input
              #confirmPassword="ngModel"
              [ngClass]="
                confirmPassword.invalid &&
                (confirmPassword.dirty || confirmPassword.touched)
                  ? 'is-invalid'
                  : ''
              "
              type="password"
              name="confirmPassword"
              placeholder="Nueva contraseña"
              class="form-control"
              required
              [(ngModel)]="newPasswordDTO.confirmPassword"
            />
          </div>
        </div>
        <p *ngIf="!sonIguales()">Las contraseñas no coinciden</p>

        <div class="alert alert-danger" role="alert" *ngIf="!sonIguales()">
          Las contraseñas no coinciden
        </div>

        <div
          class="card border-0 shadow-none d-flex flex-column justify-content-center align-items-center"
        >
        <button (click)="cambiarPassword()" class="btn btn-primary " type="submit">
          <i class="fa-solidme-1"></i>Cambiar contraseña
        </button>
        </div>
        
      <app-alerta [alerta]="alerta"></app-alerta>
      </form>
    </div>
  </div>
</div>
