<header class="p-3 text-bg-primary">
  <div class="container">
    <div *ngIf="!isLogged; then nologged else logged"></div>
    <ng-template #nologged>
      <div class="text-end">
        <button type="button" routerLink="/login" class="btn btn-outline-light
    me-2">Login</button>
        <button type="button" routerLink="/registro" class="btn btn-warning">Sign-up</button>
      </div>
    </ng-template>
    <ng-template #logged>
      <div class="text-end">
        <label class="me-3">Hola {{username}}</label>
        <button type="button" (click)="logout()" class="btn btn-warning">Logout</button>
      </div>
    </ng-template>
  </div>
</header>

<div class="seccion-pagina p-4">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Universidad del Quindío</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-x-twitter fs-5"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-instagram fs-5"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook fs-5"></i></a></li>
    </ul>

  </footer>
</div>