<header class="p-3 text-bg-primary">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-xs-start">
      <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="assets/img/logo.png" height="64" width="64"/>
        <span class="fs-4 ms-3 me-3">{{ title }}</span>
      </a>

      <div *ngIf="!isLogged; else loggedInBlock" class="ms-auto ms-lg-0 justify-content-end">
        <!-- Bloque de etiquetas para usuario no autenticado -->
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-r mb-md-0"></ul>
        <div class="text-end mb-md-0">
          <button
            type="button"
            routerLink="/login"
            class="btn btn-outline-light me-2">
            Login
          </button>
          <button type="button" routerLink="/registro" class="btn btn-success">
            Sign-up
          </button>
        </div>
      </div>

      <ng-template #loggedInBlock >
        <div *ngIf="userType === 'paciente'" class="d-flex justify-content-end align-items-center">
          <!-- Bloque de etiquetas para usuario paciente -->
          <ul class="nav col-lg-auto me-lg-auto mb-2 justify-content-center align-items-center mb-md-0">
            <li><a routerLink="/gestion-pqrs" class="nav-link px-3 text-white">PQRS</a></li>
            <li><a routerLink="/gestion-citas" class="nav-link px-3 text-white">Historial Médico</a></li>
            <li><a routerLink="/crear-cita" class="nav-link px-3 text-white">Agendar Cita</a></li>
            <li><a routerLink="modificar-paciente" class="nav-link px-3 text-white">Actualizar datos</a></li>
            <li>
              <ul class="nav d-flex flex-column justify-content-end align-items-end">
                <li><a class="nav-link px-3 text-white">{{userName}}</a></li>
                <li class="px-3 text-capitalize">{{userType}}</li>
              </ul>
            </li>
          </ul>
          <img src="assets/img/person-circle.svg" class="userPh">
          <button type="button" (click)="logout()" class="btn btn-danger ms-5 ">Logout</button>
        </div>

        <div *ngIf="userType === 'medico' " class="d-flex justify-content-end align-items-center">
          <!-- Bloque de etiquetas para usuario médico -->
          <ul class="nav col-lg-auto me-lg-auto mb-2 justify-content-center align-items-center mb-md-0">
            <li><a routerLink="/historial-consultas" class="nav-link px-3 text-white">Historial</a></li>
            <li><a routerLink="/gestion-citas-medico" class="nav-link px-3 text-white">Citas</a></li>
            <li>
              <ul class="nav d-flex flex-column justify-content-end align-items-end">
                <li><a class="nav-link px-3 text-white">{{userName}}</a></li>
                <li class="px-3 text-capitalize">{{userType}}</li>
              </ul>
            </li>
          </ul>
          <img src="assets/img/person-circle.svg" class="userPh">
          <button type="button" (click)="logout()" class="btn btn-danger ms-5 ">Logout</button>
        </div>

        <div *ngIf="userType === 'admin'" class="d-flex justify-content-end align-items-center">
          <!-- Bloque de etiquetas para usuario administrador -->
              <ul class="nav col-lg-auto me-lg-auto mb-2 justify-content-center align-items-center mb-md-0">
            <li><a routerLink="/gestion-pqrs-admin" class="nav-link px-3 text-white">PQRS</a></li>
            <li><a routerLink="/gestion-medicos" class="nav-link px-3 text-white">Gestionar Médicos</a></li>
            <li>
              <ul class="nav d-flex flex-column justify-content-end align-items-end">
                <li><a class="nav-link px-3 text-white">{{userName}}</a></li>
                <li class="px-3 text-capitalize">{{userType}}</li>
              </ul>
            </li>
          </ul>
          <button type="button" (click)="logout()" class="btn btn-danger ms-5 ">Logout</button>
        </div>
      </ng-template>
    </div>
  </div>
</header>

<div class="seccion-pagina p-4">
  <div class="container-fluid px-5">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-3 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Universidad del Quindío</span>
    </div>

    <img src="assets/img/logo2.png" alt="Clinica Aurora" height="64" width="64">
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="https://twitter.com/Uniquindio"
           target="_blank" referrer="no-referrer no-opener"
          ><i class="fa-brands fa-x-twitter fs-5"></i
        ></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="https://www.instagram.com/universidad_del_quindio/"
           target="_blank" referrer="no-referrer no-opener"
          ><i class="fa-brands fa-instagram fs-5"></i
        ></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="https://www.facebook.com/profile"
           target="_blank" referrer="no-referrer no-opener"
          ><i class="fa-brands fa-facebook fs-5"></i
        ></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="https://github.com/CrisAlexBA/ProyectoFinalAvanzada-Frontend.git"
           target="_blank" referrer="no-referrer no-opener"
        ><i class="fa-brands fa-github fs-5"></i
        ></a>
      </li>
    </ul>
  </footer>
</div>
