<div class="card">
  <div class="card-header ps-5 d-flex justify-content-center align-items-center">
    <h5 class="mb-0">
      <i class="fa-solid fa-circle-info me-3 fa-lg"></i>Detalles Médico
    </h5>
  </div>

  <div class="card-body p-5">
    <form #f="ngForm" >
      <div class="row">

        <div class="col-sm-6">

          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Código:</label>
            <div class="col-sm-10">
              <label class="form-control">{{detallesMedicoDTO?.correo}}</label>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Nombre Completo:</label>
            <div class="col-sm-10">
              <label class="form-control">{{detallesMedicoDTO?.nombre}}</label>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Cédula:</label>
            <div class="col-sm-10">
              <label class="form-control">{{detallesMedicoDTO?.cedula}}</label>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Telefono:</label>
            <div class="col-sm-10">
              <label class="form-control">{{detallesMedicoDTO?.telefono}}</label>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Ciudad:</label>
            <div class="col-sm-10">
              <label class="form-control">{{detallesMedicoDTO?.ciudad}}</label>
            </div>

          </div>
        </div>

        <div class="col-sm-6">

          <div class="mb-5">
            <div class="d-flex align-items-center">
              <img src="{{foto}}" class="userPh">
            </div>

          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Especialidad:</label>
            <div class="col-sm-10">
              <label class="form-control">{{detallesMedicoDTO?.especialidad}}</label>
            </div>
          </div>

          <div class="mb-3 row"> <!-- Hay que revisarlo -->
            <label class="col-sm-3 col-form-label">Hora inicio:</label>
            <div class="col-sm-10">
              <label class="form-control">x</label>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Hora fin:</label>
            <div class="col-sm-10">
              <label class="form-control">x</label>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-primary m-4" type="button" routerLink="/gestion-medicos">
          <i class="fa-solid fa-arrow-right fa-rotate-180 me-1"></i>Regresar</button>

        <div class="d-flex justify-content-center align-items-center">

          <button class="btn btn-success m-4" type="button" routerLink="/editar-medico/{{detallesMedicoDTO?.codigo}}"><i class="fa-solid fa-pen-to-square
          me-1"></i>Editar</button>
          <button class="btn btn-danger m-4" type="button" routerLink="/gestion-medicos">
            <i class="fa-solid fa-trash me-1"></i>Eliminar</button>
        </div>
      </div>
    </form>
  </div>
</div>
